.App {
  text-align: center;
}


.main {
  background: #25292D;
  color: #ced4da;
  min-height: 100vh;
  font-family: 'Playfair Display', serif;
}

.navbar {
  background-color: #2E3338;
}

.navbar-light .navbar-nav .nav-link {
  color: #ADB5BD;
  text-decoration: none;
  font-size: large;
}

.navbar-light .navbar-nav .nav-link:hover {
  transform: scale(1.5);
  color: #D5B038;
}


.navbar-brand {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 2.5rem;
}

.navbar-light .navbar-brand {
  color: #caa734;
}



.aboutcontainer {
  display: flex;
  flex-direction: row;
  padding: 5rem 2.5rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  max-height: 400px;
  width: 90vw;
}

.intro {
  flex-grow: 1;
  text-align: left;
  align-items: flex-start;
  width: 50%;  
  flex-direction: column;
}

.codingsvg {
  width: 50%;
  display: flex;
  max-height: 90%;
}

.mssgsvg {
  width: 50%;
  display: flex;
  height: 40rem
}

.fa-code {
  font-size: 2rem;
  color: #CD9900;
}

.intro > p {
  display: block;
  font-size: large;
}

.btnGrp {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.btn {
  background-color: #343a40;
  display: inline-block;
  color: #CD9900;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #CD9900 ;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  padding: .5rem 1.5rem;
  font-weight: 500;
  font-size: large;

}

.btn:hover {
  background-image: linear-gradient(to right, #B88746, #FDF5A6);
  border-color:  #B88746;
  color: #1C1F21;
  font-weight: 600;
}

.techContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  flex-grow: 1;
  width: 90vw;
}

.techIcons {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.singleIcons {
  height: 60px;
  width: 60px;
  margin: 2rem 2rem 1rem;
}

.form-control {
  background-color: #343a40;
  padding: .5rem;
  border: #495057 solid 2px;
  border-radius: 8px;
  color: #ADB5BD;
}

form {
  padding: 2rem;
  border: #495057 solid 2px;
  border-radius: 8px;
  background-color: #495057;
}

.formGroup {
  margin-bottom: 1rem;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2.5rem;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  width: 90vw;
  height: max-content;
}


.project {
  height: 100%;
  width: 100%;
}

.projectIcon {
  height: 20rem;
  margin-top: 2.5rem;
}

.projectIcon:hover {
  transform: scale(1.2);

}

h1 {
  font-size: 2rem;
}

.intro > h1 {
  font-size: 2.5rem;
  display: inline;
}

.projectIcon > h3 {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 1.8rem;
}

.form-label {
  font-size: large;
  color: #D5B038;
}

.formMssg {
  width: 75%;
}

.formGroup > .form-control {
  font-family: 'Playfair Display', serif;
}

.formGroup > .form-text {
  opacity: .75;
}